%form{action:'/update',method:'post'}
  %input{type:'text', name:'title', value:@info['title']}
  %br
  %textarea{type:'text', name:'description', value:@info['description']}
  %input{type:'submit'}

%p= @info
