<!doctype html>
<html>
  <header>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  </header>
  <body>

    <h2>Your Videos</h2>
    <a href="#" class='btn btn-success'></a>
    <ul>

    </ul>
    <p><%= @videos %></p>
  </body>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
