.container-fluid
  .row-fluid
    .col-md-8.col-md-offset-2
      %h1.alert.alert-info
        %span.glyphicon.glyphicon-film
        Your Videos

      %ul.media-list
        - @videos.each do |video|
          %li.media
            .btn-group
              %a.btn.btn-info.btn-mini{href:'/edit/' + video['id']}
                %span.glyphicon.glyphicon-pencil
              %a.btn.btn-success.btn-small{href:'/view/' + video['id']}
                %span.glyphicon.glyphicon-search
              %a.btn.btn-danger.btn-small{href:'/delete/' + video['id']}
                %span.glyphicon.glyphicon-remove
            %a.pull-left{:href => '/view/' + video['id'] }
              %img.media-object{:src => video['thumbnails']['thumbnail'][0]['_content']}
            .media-body
              %h4
                %span= video['title']
              %p= video['description']
              %p=  video['upload_date']
