.container-fluid
  .row-fluid
    .col-md-8.col-md-offset-2
      %table.table.table-striped#view-table
        %thead
          %th
          %th Title
          %th Date Uploaded
        %tbody
          - @appVideos.each do |video|
            %tr
              %td
                %a.btn.btn-success{href:'/view/' + video['id']} View
                %a.btn.btn-primary{href:'/detach/' + video['id'], onclick:'return confirm("Are you sure you want to detach this video?")'} Detach
              %td= video['title']
              %td= video['upload_date']
