.container-fluid
  .row-fluid
    .col-md-6.col-md-offset-3
      %table.table.table-striped#view-table
        %thead
          %th
          %th Title
          %th Date Uploaded
        %tbody
          - @appVideos.each do |video|
            %tr
              %td
                %a.btn.btn-success{href:'/view/' + video['id']} View
              %td= video['title']
              %td= video['upload_date']
