<!doctype html>
<html>
  <header>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </header>
  <body>

    <iframe src='http://player.vimeo.com/video/<%= @videoId %>' width='500' height ='281' frameborder='0'></iframe>
    <p>
      <%= @test %>
    </p>
  </body>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
