.container-fluid
  .row-fluid
    .col-md-6.col-md-offset-3
      %h3.alert
        %a{href:'#', onclick: 'history.back(); return false;'}
          %i.fa.fa-chevron-left
        View Video
        %span.glyphicon.glyphicon-film
      %iframe.clearfix{:src=>'https://player.vimeo.com/video/' + @videoId + '?badge=0&byline=0&portrait=0', :width=>'500', :height =>'281', :frameborder=>'0'}
