body {
  text-align:center;
  background: white;
}

.container {
  width:40%;
}

li.media {
  text-align: left;
}

.media-list {
  background: #f1f1f1;
/*  padding: 25px;*/
  border-radius: 20px;
}

.media-list li {
  border-bottom: 1px solid white;
  padding: 20px;
/*  padding-top: 10px;*/
  margin-top:0px;
}

.media-list li:hover {
  background:#f5f5f5;
/*  border-radius: 20px;*/
}
.media-list li:first-child:hover {
  background:#f5f5f5;
  border-radius: 20px;
}
.media-list li:last-child:hover {
  background:#f5f5f5;
  border-radius: 20px;
}

.btn-group {
  display:none;
}

.media-object {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.58);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.58);
  border: 1px solid gray;
  border-radius: 4px;
}
